* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: roboto, sans-serif;
    background-color: #1F2937;
}

/*Header Section*/

header {
    background-color:#1F2937;
}

.header-nav-list {
    margin-top: 10px;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-bottom: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.nav-item a:hover {
    color: #c5c7cc;
}

.nav-item:first-child {
    margin-right: auto;
}

 .header-img {
    width: 60px;
    height: auto;
}


/* Hero Section*/

.hero-section {
    display: flex;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    margin-bottom: 75px;
}

.hero-img {
    max-width: 300px;
    height: auto;
    margin-right: 12rem;
    margin-left: auto;
}

.hero-heading {
    font-weight: 900;
    color: #F9FAF8;
    margin-left: 10rem;
    margin-bottom: 10px;
}

.hero-text {
    color: #E5E7EB;
    font-size: 18px;
    margin-left: 10rem;
    width: 450px;
    margin-bottom: 15px;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 12.5px;
    margin-left: 10rem;
    padding: 10px 25px 10px 25px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

/*Information Section*/

.information-heading {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    justify-content: center;
    background-color: white;
    margin-bottom: 0px;
    padding-bottom: 50px;
    padding-top: 40px;
}


.information-container {
    display: flex;
    background-color: white;
    justify-content: center;
    gap: 52px;
    text-align: center;
    padding-bottom: 75px;
    padding-right: 12rem;
    padding-left: 12rem;
}

.information-img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 15px;
}

/* Quote Section */

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
}

blockquote {
    display: flex;

    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    /* margin-left: 10rem;
    padding-right: 12rem; */
}

.quote-name {
    text-align: right;
}